# Dependencies
node_modules/
package-lock.json

# Python cache & compiled bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
